body{
    /* background-color: #000000; */
}
.ue{
    flex-direction: column;
}
.migi{
    margin: 0 auto;
}
header img{
    margin: 0 auto;
}
.container{
    width: auto;
}
header ul{
    flex-wrap: wrap;
}
header li{
    width: 50%;
    flex:none;
    box-sizing: border-box;
    border-radius: 10px !important;
}
.a{
    flex-direction: column-reverse;
    margin: 20px;
}
.migisita{
    margin: 0;
    width: 100%;
}
.hidari{
    width: 100%;
}
.b{
    flex-direction: column;
    width: auto;
}
.sintyaku{
    height: auto;
}
.migisita img{
    width: 100%;
    max-width: 640px;
    height: auto;
}
footer ul{
    margin: 20px;
    flex-wrap: wrap;
    height: auto;
}
.hizuke{
    height: auto;
}
br{
    display: inline;
}
.migiyose{
    line-height: 1.5em;
    height: auto;
    padding-right: 20px;
}
.honpen{
    margin: 0 auto;
    width: 100%;
}
.honpen h2,.honpen h3,.honpen p,.honpen a{
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
}
.y h2,.y h3,.y p,.y a{
    margin-right: 0;
    margin-left: 0;
}
.img{
    flex-direction: column;
}
.img img{
    margin: 0 auto;
    display: block;
}
.x{
    width: 100%;
}
.iframe-responsive {
    position: relative;
    width: 100%;
    padding: calc(315 / 560 * 100%) 0 0;
    margin: o 20px;
}
.iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}