.container{
  margin: 0;
}
.container h1{
  margin-bottom: 50px;
}
.container h2{
  font-size: 25px;
  font-weight: 600;
}
.container h3{
  font-size: 20px;
}
header{
  background-color: #fff;
  margin-top: 0;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 7;
}
header #menu{
  user-select: none;
  float: right;
  font-size: 35px;
  margin-right: 20px;
  margin-top: 20px;
}
.airbAicon{
  width: 30px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
header span{
  cursor: pointer;
}
header nav.open{
  position: fixed;
  top: 80px;
  bottom: 580px;
  right: 30px;
  left: 30px;
  background-color: #fff;
}
header nav.close{
  display: none;
}
header nav li{
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}
header nav a{
  color: #000;
}

.photo1{
  background-image: url("img/1.jpg");
  background-size: cover;
  height: 300px;
  box-shadow: -30px -30px 10px 10px rgba(0,0,0,0.4) inset;
  position: relative;
}
.photo1 p{
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

main{
  background-color: #fff;
}
.check{
  padding-top: 20px;
}
input{
  width: 100%;
  color: #666;
}
select{
  height: 45px;
  
}
#room{
  width: 65%;
}
#room2{
  width: 30%;
  margin-left: auto;
}
.flex{
  display: flex;
  margin-top: 10px;
}
.yen{
  font-size: 30px;
  margin: 0;
}
.small{
  font-size: 15px!important;
}
svg{
  margin-top: auto;
  margin-bottom: 7px;
}
.width100p{
  width: 100%;
}
.btn.btn-primary.btn-lg.btn-block{
  background-color: pink;
}
.btn.btn-primary.btn-lg.btn-block:hover{
  background-color: pink;
}
.reason h1{
  margin-top: 80px;
  font-size: 30px;
}
.border1{
  width: 70px;
  margin: 80px 0 20px 0;
  border-bottom: 2px solid #333!important;
}
.hosting svg{
  margin-top: 40px;
}
.hosting h2{
  font-size: 25px;
}
.greena{
  color: green;
}
.greena:hover{
  color: green;
  text-decoration: underline;
}
.hosting a{
  margin-top: 50px;
  display: block;
}
.skinHead{
  margin-top: 100px;
}
.skinHead img{
  height: 100%;
}
.skinHead h1{
  text-align: left;
}
.kasanari{
  color: yellow;
  font-size: 100px;
  transform:translateY(-20px)
}
.hostHosyou{
  font-size: 20px;
  transform: translateY(-80px);
}
.dennis{
  transform: translateY(-80px);
}
.skinHead button{
  transform: translateY(-80px);
}
.skinHead button:hover{
  background-color: #fff;
  color: #000;
}
.skinHead button:active{
  background-color: #fff!important;
  color: #000!important;
}
.check{
  display: flex;
}
.check svg{
  transform: translateY(-5px);
}
.maniti a{
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
}
.maniti img{
  width: 100%;
  margin-top: 70px;
  /* margin-bottom: 70px; */
}
.simple p{
  margin-bottom: 50px;
}
.mt{
  margin-top: 150px;
}
.simple img{
  width: 100%;
}
.dc{
  text-align: left!important;
  color: yellow;
  font-size: 100px;
}
.transform{
  transform: translateY(-80px);
}
.m0{
  margin-bottom: 20px!important;
}
.trans{
  margin-top: 30px;
}
.number{
  text-align: left!important;
  margin-top: 40px;
}
.about p{
  margin-bottom: 30px;
}
.about a{
  margin-bottom: 150px;
  display: block;
}
.question a{
  border-bottom: 1px solid rgb(218, 217, 217);
  display: block;
  padding: 25px;
}
.question{
  margin-bottom: 140px;
}
.syokisettei{
  display: flex;
  border: 2px solid rgb(218, 217, 217);
  margin-bottom: 20px;
}
.syokisettei img{
  height: 70px;
  width: 70px;
}
.syokisettei.rounded.col-sm-12.col-md-4{
  padding-left: 0!important;
}
.monetize{
  background-image: url(img/8.jpg);
  height: 450px;
  max-width: 1250px;
  background-size: cover;
  margin: 0 auto;

}
.monetize h1{
  color:#fff;
}
.monetaize button{
  margin-top: 30px;
  display: block;
}
.idou{
  transform: translateY(80px);
}
.aikon{
  display: flex;
  margin: 50px;
}
.aikon img{
  height: 30px;
  width: auto;
  margin-top: 10px;
}
.aikon p{
  margin: 0;
  font-size: 12px;
  color: #000;
}
.aikon a{
  color: #000;
}
.aikon a:hover{
  color: #000;
  text-decoration-color: #000;
}
.row.width900{
  width: 94%;
  margin: 90px auto 0 auto;
  border-bottom: 1px solid #ddd;
}

.menu a{
  color: #777;
  display: block;
  font-size: 13px;
}
.menu a:hover{
  color: #777;
}

@media screen and (max-width:767px){
  .in{
    display: none;
  }
  .out{
    margin: 0 30px;
  }
  .in1{
    display: none;
  }
  .marginLeft{
    margin-left: 20px;
  }
  .menu{
    display: none;
  }
  .width900.row{
    display: none;
  }
  footer{
    margin-top: 120px;
    margin-bottom: 90px;
  }
  .kuwasiku{
    display: none;
  }
  .lgstart{
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:991px){
  .out{
    display: none;
  }
  .out1{
    display: none;
  }
  .photo1 p{
    font-size: 45px;
  }
  .border1{
    margin: 80px auto 20px auto;
  }
  .container h1{
    text-align: center;
  }
  .women{
    margin-bottom: 140px;
  }
  .dream{
    margin-bottom: 150px;
  }
  .syokisettei img{
    width: 100%;
    height: auto;
  }
  .syokisettei{
    border: none;
  }
  .syokisetei p{
    margin: 0!important;
  }
  .box{
    border: 2px solid rgb(218, 217, 217);
    margin-right: 20px!important;
  }
  .box.row.mlnone{
    margin-right: 0!important;
  }
  .syokisettei.rounded.col-sm-12.col-md-4{
    padding: 20px;
  }
  .idou{
    transform: translate(60px,60px);
  }
  .aikon{
    margin: 0;
  }
  footer{
    width: 94%;
    margin: 20px auto 50px auto;
  }
  .col-sm-12.col-md-5.mr-auto.order-md-1 h1{
    text-align: left;
  }
  .kuwasiku{
    display: none;
  }
  .lgstart{
    display: none;
  }
}

@media screen and (min-width:992px){
  .container h1{
    text-align: center;
    font-weight: 1000;
    font-size: 60px;
  }
  .in{
    display: none;
  }
  .in1{
    display: none;
  }
  .out1{
    display: none;
  }
  .out{
    display: none;
  }
  .border1{
    margin: 80px auto 20px auto;
  }
  .reason{
    margin-top: 70px;
  }
  .photo1{
    height: 650px;
  }
  .lgstart{
    width: 450px;
    height: 460px;
    position: absolute;
    right: 85px;
    top: 80px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
  }
  .lgstart p{
    color: #000;
  }
  .photo1 p{
    position: static;
  }
  .lgstart h1{
    font-weight: 900;
  }
  .check{
    font-size: 15px!important;
    font-weight: 200!important;
  }




  .col-sm-12.col-md-5.mr-auto.order-md-1 h1{
    text-align: left;
    font-size: 150px;
  }
  .syokisettei img{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .syokisettei{
    border: none;
  }
  .syokisetei p{
    margin: 0!important;
  }
  .box{
    margin-right: 20px!important;
  }
  .box.row.mlnone{
    margin-right: 0!important;
  }
  .syokisettei.rounded.col-sm-12.col-md-4{
    padding: 20px;
  }
  .kuwasiku{
    margin-top: 10px;
    display: block;
  }
  .idou{
    transform: translate(60px,60px);
  }
  footer{
    width: 94%;
    margin: 20px auto 50px auto;
  }
  .aikon{
    margin: 0;
  }
}